@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bgd: #E4E5F1;
  --todo-box: #FAFAFA;
  --active-todo: #484B6A;
  --inactive-todo: #D2D3DB;
  --check-mark: #9394A5;

  --completed-gradient: linear-gradient(to bottom, #57DDFF, #C058F3);

  --filter-active: #3A71FD;
  --logo: #FA;
  --create-todo: #777A92;
}

[data-theme = 'dark'] {
  --bgd: #161722;
  --todo-box: #25273C;
  --active-todo: #CACDE8;
  --inactive-todo: #4D5966;
  --check-mark: #393A4C; 
}

body {
  background-color: var(--bgd);
}
